*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: hsl(212, 45%, 89%);
}

.container {
    width: 100%;
    height: auto;
    max-width: 210px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    padding: 15px 10px 25px 10px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
    border-radius: 8px;
}

h4 {
    color: hsl(218, 44%, 22%);
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;
}

h6 {
    opacity: 85%;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    color: hsl(216, 15%, 48%);
    padding-left: 6.5px;
    padding-right: 6.5px;
}